@import url('https://fonts.googleapis.com/css?family=Poppins');

/*BASIC*/

*{
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

/*BASIC*/


h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

/*NAVBAR*/

label.Name {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 50px;
  letter-spacing: 3px;
  font-weight: bold;
}

header {
  position: fixed;
  background-color: #011813;
  background-image: linear-gradient(91deg, #011813 0%, #303031 100%);
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0px;
  height: 80px;
  width: 100%;
  top: 0;
  border-collapse: collapse;
  animation: nav-load 1s;
  z-index: 2;
}

nav {
  width: 100%;
  top: 0;
  position: fixed;
  right: 0;
}

nav ul {
  float: right;
  padding-top: 20px;
  display: flex;
  margin: 0;
  margin-right: 45px;
}

nav ul li {
  display: inline-block;
  line-height: 30px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul li a:hover {
  background-color: #02b958;
  background-image: linear-gradient(90deg, #02b958 0%, #b7b7b4 100%);
  transition: .5s;
}

/*NAVBAR*/


.current {
  background-color: #02b958;
  background-image: linear-gradient(90deg, #02b958 0%, #b7b7b4 100%);
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.wrapper {
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 20px;
  background-color: transparent;
}

#formContenu {
  border-radius: 10px;
  background: #fff;
  width: 90%;
  max-width: 450px;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

.image {
  background-color: transparent;
  margin: auto;
}

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 1px solid #02b958;
}

input[type=button],
input[type=submit],
input[type=reset] {
  border: none;
  color: white;
  padding: 20px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  background-image: linear-gradient(90deg, #02b958 0%, #b7b7b4 100%);
  -webkit-box-shadow: 0 10px 30px 0 #02b958;
  border-radius: 5px;
  margin: 20px;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #39ace7;
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text],
input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

input[type=text]:focus,
input[type=text]:placeholder {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

*:focus {
  outline: none;
}

#icon {
  width: 15%;
}

* {
  box-sizing: border-box;
}
