/* --------------------------PRINCIPAL-------------------------------------*/
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

*{                            
	padding: 0px;
	color: white;
	font-family: 'Gilroy-Medium', sans-serif;
	text-decoration: none;
	
	box-sizing: border-box;

}

body{
	margin: 0;
	font-size: 12px;
	text-align: left;

	background-color: #02583f;
	background-image: linear-gradient(180deg, #02583f 0%, #525254 100%);


}
ol ol li{ 
	list-style: circle;
}

ol li{
	font-size: 35px;
	
}
main{
	animation: entrée 1s;
}

@keyframes entrée {   /*animation de zoom entrant*/
  0% {
    transform: scale(0.8);
    
  }
  100% {
    transform: scale(1);
  }
}
/* --------------------------FORMULAIRE------------------------------------- */

section.admin{
	width: 90%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
  label.nomBAT{
	font-size: 17px;
}

label.texte{
	font-size: 17px;
}

section.form{
	margin: auto;
	width: 80%;
	text-align: center;
	
}

section.batiment{
	margin: auto;
	margin-bottom: 10px;
	width: 80%;

}
legend.form{
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
}

select{
	background-color: #303031;
	color: white;
	width: 100%;
    margin: 0;
    padding: 5px 1px;        
    cursor: pointer;
    border: none;
    border-radius: 0;
    background-color: transparent;
	
	font-size: 20px;
	text-align: center;
}

select.option{
	background-color: black;
}

.valid{
	background-color: transparent;
	margin: auto;
	text-align: center;


}

input{
	font-size: 16px;
	height: 40px;
	background-color:transparent;
	border-radius: 2%;
	width: 80%;
	margin: 3%;
	text-align: center;
	border-radius: 5px;
	box-sizing: border-box;
	
}



input.valider{
 background-image: linear-gradient(to right, #134E5E 0%, #71B280  51%, #134E5E  100%);
 margin: 1px;
	
           
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            border: none;
            border-radius: 10px;
            
}

input.valider:hover{
	background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}



input[type=text]{
	padding: 12px 20px;
	margin: 8px 0;
	background-color: white;
	color: black;
	border: none;
	box-sizing: border-box;
}

input#nom {
	background-image: url("../media/name.png");
	background-repeat: no-repeat;
	color: black;
	background-position: 2%;
	background-size: 30px;
	font-size: 16px;
  }
  
  input#login {
	background-image: url("../media/user1.svg");
	background-repeat: no-repeat;
	color: black;
	background-position: 2%;
	background-size: 20px;
	font-size: 16px;
  }

  input#mdp {
	background-image: url("../media/pass.png");
	background-repeat: no-repeat;
	color: black;
	background-position: 2%;
	background-size: 20px;
	font-size: 16px;
  }

  input#ID-cap {
	background-image: url("../media/sensor.png");
	background-repeat: no-repeat;
	color: black;
	background-position: 2%;
	background-size: 20px;
	font-size: 16px;
  }
legend{
	text-align: center;
	margin-bottom: 10px;
}
/* --------------------------FORMULAIRE------------------------------------- */

/* --------------------------PRINCIPAL------------------------------------- */


/* --------------------------NAVBAR------------------------------------- */

label.Name{				/*style du logo DANIEL HALIDI*/
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding:0 50px;
	letter-spacing: 3px;
	font-weight:bold ;
	
}



header{ 				/*style du header*/
	 position: fixed;
	 background-color: #011813;
	 padding-left: 15px;
	 padding-right: 15px;
	 margin-top: 0px;
	 height: 80px;
	 width: 100%;
	 top: 0;
	 border-collapse: collapse;
	 animation: nav-load 1s;
	 z-index: 2;  /*permet de faire passer le header devant les autres elements*/
}

nav{				/*style de la navbar*/
	width: 100%;
	top: 0;
	position: fixed;
	right: 0;


}

nav ul{
	float: right;
	display: flex;
	margin: 0;
	margin-right: 45px ;
}

nav ul li{
	display: inline-block;
	line-height: 80px ;
	margin: 0 5px ;
}

nav ul li a{
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	font-weight: bold ;
	text-transform: uppercase;
}

nav ul li a:hover{				/*style du hover des liens de la navbar */
   background-image: linear-gradient(to right, #134E5E 0%, #71B280  51%, #134E5E  100%);
   






transition: .5s ;
}

.current{						/*colorer l'onglet actif */
	background-color: #02b958;
    background-image: linear-gradient(90deg, #02b958 0%, #b7b7b4 100%);

}

legend{
	margin: auto;
}

@keyframes nav-load{			/*animation de la navbar*/
	0%{
		transform: translateY(-100%);
	}

	100%{
			transform: translateY(0%);
	}
}



/* --------------------------NAVBAR------------------------------------- */

/* --------------------------TITRES------------------------------------- */

h1{
	font-size: 40px;
	padding-top: 60px;
	margin-bottom: 10px;
	font-weight: bold;
	text-transform: uppercase;  /* transformer automatiquement les caractères en maj*/
	text-align: center;
	animation:flou .8s ;
	font-family: 'Gilroy-Bold', sans-serif;
}

@keyframes flou {            /*animation pour effet de flou*/
  0% {
    letter-spacing: 15px;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

h2.hautpage{
	text-align: center;
	font-size: 30px;
	margin-top: 7%;
}

dt{
	font-size:20px ;
}

ol{
	list-style-type: none;
}

ol li ol{
	font-size: 17px;
}

ol li ol ol li{
	margin right: 20%;
}
/* --------------------------TITRES------------------------------------- */

/* --------------------------SECTIONS------------------------------------- */
section{
  margin: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;  /*arrondir les bords de la section*/
  padding: 20px;
}

.parentG{
	float: left;
	clear: none;
	width: 41%;
	margin: 5%;
	
}

.parentD{
	float: right;
	clear: none;
	width: 39%;
	margin: 5%;
}
.TITRE{
	margin-top: 20px;
	margin-bottom: 40px;
	background-color:transparent ;
}

.TITREBAS{
	padding: initial;
	background-color:transparent ;
}

section p{
	font-size: 20px;
	line-height: 1.5;
	text-align: justify;
	word-spacing: -2px;
	padding-top: 20px;
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 10px;

}




 section a:visited{
 	color: rgb(200, 200, 200);
 }
 


 /*-----------------FOOTER------------------------------------------*/

footer{
	position: relative;
	background-color: #011813;
	background-image: linear-gradient(91deg, #011813 0%, #303031 100%);
	padding: 0;

}

footer ul{
	margin-top: 5%;
	padding: 0;
	list-style: none;
	font-size: 20px;
	line-height: 1.6;
	margin-bottom: 0;
	text-align: center;
}

footer ul li{
	display: inline-block;
	padding: 0 15px;
	margin-top: 3%;

}

footer ul li a{
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-align: center;
	display: flex;
	font-weight: bold ;
	text-transform: uppercase;
}

footer ul li a:hover{
	background-color: #02b958;
    background-image: linear-gradient(90deg, #02b958 0%, #b7b7b4 100%);

	transition: .5s ;
}


footer p{
	text-align: center;
	font-size: 13px;
}

img.validator{
	display: block;
	margin-left: auto;
	margin-right: auto;
}



.side-menu{
	display: none;
}
 
/*---------------------------------RESPONSIVE-------------------------------------*/
@media screen and ( max-width: 1090px ){
	label.Name{
		display: none;
	}

	.global {
		flex-direction: column-reverse;  
	}


	nav ul {
		margin-right: 20%;
		}


	nav ul li a{
		padding: 3px 3px;
	}

	.parentD{
		margin-top: 10%;
		float: none;
		margin: auto;
		width: 80%;
	}

	.parentG{
		margin-top: 5%;
		float: none;
		margin: auto;
		width: 80%;
	}
}


@media screen and (max-width: 690px) { 

	label.Name{
		display: initial;
		padding: 0;
		font-size: 25px;
		letter-spacing: 0;
		margin-left: auto;
		margin-right: auto;	
	}

	nav{		/*disposition de menu navbar en colonne */
    height: 100%;
    top: 0;
    background-color: rgb(0, 0, 0);
   	overflow: hidden;
  
}

	nav ul{
		flex-direction: column;
		float: none;
		text-align: center;
		padding-top: 45%;
		padding-left: 10%;
}

	nav ul li a{
    display: block;
    padding: 0;
    color: rgb(255, 255, 255);
}
 	nav ul li a:hover{
    background-color: rgb(244, 244, 244);
}
 	nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}


	section{
	margin: 10px;
}


 a{
 	word-break: break-all;
 }


/* Icone du menu */
.hamb{
	cursor: pointer;
    z-index: 5;
    float: right;
    padding: 40px 40px;
}



.hamb-line {
    background: rgb(255, 255, 255); /*ligne du milieu*/
    display: block;
    height: 2px;
    position: absolute;
    width: 24px;
} 

/* Style de l'icone (lignes du menu hamburger) */
.hamb-line::before,
.hamb-line::after{
    background: rgb(255, 255, 255);/*lignes du haut et du bas*/
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {      /* Checkbox non apparente*/
    display: none;
  }

/* Une fois que l'on clique sur l'icone */
.side-menu:checked ~ nav{  /* afficher la navbar*/
    max-height: 100%;
    padding: 0px;
    z-index: -1;
}


.side-menu:checked ~ .hamb .hamb-line {  /*la ligne du milieu devient transparente*/
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before { /*la première ligne forme une croix*/
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after { /*la troisieme ligne forme une croix*/
    transform: rotate(45deg);
    top:0;
}

}